/* Navigation styles */
.logo {
    background: white;
    height: 230px;
    background-image: url("../images/jakes-logo.png")
    background-repeat: no-repat;
    background-position: center;
}
/* Column styles */

/* Footer Styles */
